In [1]:
import sqlite3
connection = sqlite3.connect("books.db")

In [ ]:
import pandas as pd

pd.options.display.max_columns = 10
pd.read_sql("SELECT * FROM authors", connection, index_col = ["id"]) # display author table

In [ ]:
pd.read_sql('SELECT * FROM author_isbn', connection) #display author_isbn table

In [ ]:
pd.read_sql('SELECT * FROM titles', connection) #display titles table

In [ ]:
import pandas as pd
pd.read_sql("SELECT first, last FROM authors", connection)

In [ ]:
pd.read_sql("""SELECT title, edition, copyright FROM titles WHERE copyright > '2016'""", connection)

In [ ]:
pd.read_sql(""" SELECT id, first, last FROM authors WHERE last LIKE 'D%'""", connection, index_col=["id"])

In [ ]:
pd.read_sql(""" SELECT id, first, last FROM authors where first LIKE '_b%'""", connection, index_col=["id"])

In [ ]:
pd.read_sql('SELECT title FROM titles ORDER BY title ASC',connection)

In [ ]:
pd.read_sql("""SELECT id,first,last FROM authors ORDER BY last,first""",connection, index_col=["id"])

In [ ]:
pd.read_sql("""SELECT id,first,last FROM authors ORDER BY last DESC, first ASC""", connection, index_col=["id"])

In [ ]:
pd.read_sql("""SELECT isbn, title, edition, copyright FROM titles WHERE title LIKE '%How to Program' ORDER BY title""", connection)

In [ ]:
pd.read_sql(""" SELECT first, last, isbn FROM authors INNER JOIN author_ISBN ON authors.id = author_ISBN.id
            ORDER BY last, first""", connection).head()

In [ ]:
cursor =connection.cursor()

cursor = cursor.execute("""INSERT INTO authors (first, last) VALUES ("Sue", "Red")""")

In [ ]:
pd.read_sql("SELECT id, first, last FROM authors", connection, index_col=["id"])

In [ ]:
cursor = cursor.execute("""UPDATE authors SET last= 'BLACK' WHERE last='Red' AND first='Sue'""")

In [ ]:
cursor.rowcount #use rowcount attribute to show how many rows were modified

In [ ]:
pd.read_sql('SELECT id, first, last FROM authors', connection, index_col = ['id'])

In [ ]:
cursor = cursor.execute('DELETE FROM authors WHERE id=6')

In [ ]:
cursor.rowcount #show how many rows were changed

In [ ]:
pd.read_sql('SELECT id, first, last FROM authors', connection, index_col=['id'])

In [ ]:
pd.read_sql("SELECT * FROM authors", connection, index_col=["id"])

In [ ]:
pd.read_sql("SELECT * FROM titles", connection) #display titles table

In [ ]:
pd.read_sql("SELECT * FROM author_isbn", connection) #display author_isbn table